<!-- <full-calendar 
defaultView="dayGridMonth" 
[plugins]="calendarPlugins" 
[events]="[
{ title: 'Evento Teste', date: '2020-04-29' },
{ title: 'Evento do Novo Teste', date: '2020-04-30' },
{ title: 'Reunião - Clínica Sentidos', date: '2020-05-01' }
]"></full-calendar> -->

<br>
<br>
<br>
<br>
<br>
<br>

<iframe src="https://calendar.google.com/calendar/embed?src=hgsmrmvqadhsutq4m6p7uoio74%40group.calendar.google.com&ctz=America%2FFortaleza" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>