
/* @media screen and (min-width: 300px) and (max-width: 600px) {} */

.container-create {
	margin-top: 64px;
}

h2 {
 margin-top: 16px;
}

/* .form-cad {
	padding-left: 30px;
	padding-right: 30px;
} */

/* mat-form-field { */
	/* width: 100%; */
	/* margin-left: 8px; */
/* } */


button {
	margin: 20px 15px 15px 30px;
}

.mat-radio-button ~ .mat-radio-button {
	margin-left: 16px;
  }

.label-gender {
	margin-left: 0;
	margin-right: 18px;
  }

  .genero-rotulo {
   margin-right: 16px;
  }

  /* mat-radio-group {
	  display: inline;
	  align-items: flex-start;
	   align-content: initial;
  } */

