.container-update {
	margin-top: 64px;
}

/* form {
	padding-left: 30px;
	padding-right: 30px; */
	/* display: flex;
	flex-direction: column; */
/* } */

/* mat-form-field {
 max-width: 75%;
 min-width: 45%;
} */

button {
	margin: 20px 15px 15px 30px;
}