<div class="container-update">

 <mat-card>
  <mat-card-title>Atualizar Dados</mat-card-title>

  <form>

   <mat-form-field>
    <input matInput placeholder="Nome" [(ngModel)]="contributors.nome" name="nome">
   </mat-form-field>

   <mat-form-field>
    <input matInput placeholder="CPF" [(ngModel)]="contributors.cpf" name="cpf">
   </mat-form-field>

   <mat-form-field>
    <input matInput placeholder="E-mail" [(ngModel)]="contributors.email" name="email">
   </mat-form-field>

   <mat-form-field>
    <input matInput placeholder="Profissão" [(ngModel)]="contributors.profissao" name="profissao">
   </mat-form-field>

   <mat-form-field>
    <input matInput placeholder="Contato" [(ngModel)]="contributors.contato" name="contato">
   </mat-form-field>

   <!-- <mat-form-field>
				<input matInput placeholder="CEP" [(ngModel)]="contributors.cep" name="cep">
			</mat-form-field> -->

   <mat-form-field>
    <input matInput placeholder="Endereço" [(ngModel)]="contributors.endereco" name="endereco">
   </mat-form-field>

   <!-- <mat-form-field>
				<input matInput placeholder="Bairro" [(ngModel)]="contributors.bairro" name="Bairro">
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Cidade" [(ngModel)]="contributors.cidade" name="cidade">
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Estado" [(ngModel)]="contributors.estado" name="estado">
			</mat-form-field> -->

  </form>

  <button mat-raised-button color="primary" (click)="updateContributors()">
   Atualizar
  </button><button mat-raised-button (click)="onCancel()">

   Cancelar
  </button>

 </mat-card>

</div>

<div class="container-update">

	<mat-card>
		<mat-card-title>
			Atualizar Cadastro
		</mat-card-title>

		<mat-card-content>

			<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-cad">

				<mat-grid-list cols='2' rowHeight='5:1'>

					<mat-grid-tile colspan='2'>
						<h2 class="title-address">Perfil</h2>
						<mat-divider></mat-divider>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField" hideRequiredMarker>
							<mat-label>Nome *</mat-label>
							<input matInput placeholder="Primeiro Nome" type="text" formControlName="nome"
								name="nome">
							<mat-error *ngIf="nome.invalid">
        {{ getErrorMessage('nome', 'Nome Obrigatório', 'Nome Obrigatório') }} </mat-error>
        <mat-error></mat-error>
        
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField" >
							<mat-label>Sobre Nome</mat-label>
							<input matInput placeholder="Restante do Nome" type="text" name="sobreNome"
								formControlName="sobreNome">
							<mat-error *ngIf="sobreNome.invalid">
        {{ getErrorMessage('sobreNome', 'Sobre Nome') }} </mat-error>
        <mat-error></mat-error>

						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField" >
							<mat-label>CPF *</mat-label>
							<input matInput #input maxlength="11" placeholder="CPF" name="cpf" type="number" formControlName="cpf">
							<mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
							<mat-error *ngIf="cpf.invalid">
								{{ getErrorMessage('cpf', 'CPF Oobrigatório', 'Infome apenas números') }} </mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField">
							<mat-label>RG *</mat-label>
							<input matInput placeholder="rg" name="rg" type="number" formControlName="rg">
							<mat-error *ngIf="rg.invalid">
								{{ getErrorMessage('rg', 'RG Oobrigatório', 'Infome apenas números') }} </mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField">
							<mat-label>Data de Nascimento</mat-label>
							<input matInput placeholder="Data de Nascimento" name="dataNascimento" type="date"
								formControlName="dataNascimento">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField">
							<mat-label>Idade</mat-label>
							<input matInput placeholder="Idade" name="idade" type="number" formControlName="idade">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<!-- <mat-form-field> -->
						<!-- <input matInput placeholder="Gênero" name="gender" formControlName="gender"> -->
						<!-- <label for="gender" class="label-gender">Gênero: </label> -->
						<mat-radio-group name='genero' aria-label="Select an option" aria-labelledby="genero"
							formControlName="genero">
							<mat-radio-button class="mat-radio-button" id="genero.masculino" value="M">Masculino</mat-radio-button>
							<mat-radio-button class="mat-radio-button"  id="genero.feminino" value="F">Feminino</mat-radio-button>
						</mat-radio-group>
						<!-- </mat-form-field> -->
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField">
							<mat-label>E-mail</mat-label>
							<input matInput placeholder="user@email.com" name="email" type="email"
								formControlName="email">
							<mat-error *ngIf="myForm.get('email').invalid">
								{{ getErrorMessage('email', 'Você deve inserir um Email', 'E-mail Invalido') }}
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<!-- <mat-grid-tile>
						<mat-form-field [appearance]="appearanceField">
							<mat-label>Senha *</mat-label>
							<input matInput placeholder="Senha" name="senha" [type]="hide ? 'password' : 'text'"
								formControlName="senha">
							<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide senha'"
								[attr.aria-pressed]="hide">
								<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
							</button>
						</mat-form-field>
					</mat-grid-tile> -->

					<!-- <mat-grid-tile>
						<mat-label>repeti a senha</mat-label>
						<mat-form-field appearance="outline">
							<input matInput placeholder="Confirme a senha" name="repeat-password" type="password">
						</mat-form-field>
					</mat-grid-tile> -->

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField">
							<mat-label>Profissão *</mat-label>
							<input matInput placeholder="Profissão" name="profissao" type="text"
								formControlName="profissao">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField">
							<mat-label>Telefone Fixo</mat-label>
							<input matInput placeholder="Contato Fixo" name="contato" type="tel"
								formControlName="contato">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field [appearance]="appearanceField">
							<mat-label>Celular *</mat-label>
							<input matInput placeholder="Celular (Whatsapp)" name="celular" type="text"
								formControlName="celular">
						</mat-form-field>
					</mat-grid-tile>


					<!-- ENDEREÇO -->
					<mat-grid-tile colspan='2'>
						<h3 class="title-address">Endereço</h3>

						<mat-divider></mat-divider>
					</mat-grid-tile>

					<div formGroupName="endereco">

						<mat-grid-tile>
							<mat-form-field [appearance]="appearanceField">
								<mat-label>CEP *</mat-label>
								<input matInput placeholder="CEP" name="cep" type="number" formControlName="cep">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field [appearance]="appearanceField">
								<mat-label>Rua </mat-label>
								<input matInput placeholder="Rua: silveira..." name="rua" type="text"
									formControlName="rua">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field [appearance]="appearanceField">
								<mat-label>N° </mat-label>
								<input matInput placeholder="Numero" name="numero" type="number"
									formControlName="numero">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field [appearance]="appearanceField">
								<mat-label>Complemento </mat-label>
								<input matInput placeholder="BLoco A, Apt. 101" name="complemento" type="text"
									formControlName="complemento">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field [appearance]="appearanceField">
								<mat-label>Bairro</mat-label>
								<input matInput placeholder="Bairro" name="logradouro" type="text"
									formControlName="bairro">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field [appearance]="appearanceField">
								<mat-label>Cidade</mat-label>
								<input matInput placeholder="Cidade" name="cidade" formControlName="cidade">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field [appearance]="appearanceField">
								<mat-label>Estado</mat-label>
								<input matInput placeholder="UF: " name="uf" formControlName="estado">
							</mat-form-field>
						</mat-grid-tile>

					</div>

				</mat-grid-list>

				<!-- <button mat-raised-button color="primary" type="submit">
					Enviar
				</button> -->

			</form>

		</mat-card-content>

		<mat-card-actions>



			<button mat-raised-button color="default" (click)="onCancel()">
				Cancelar
			</button>

			<button mat-raised-button color="primary" (click)="submit()">
				Salvar
			</button>

		</mat-card-actions>

	</mat-card>

</div>

<!-- <div>
	<h3>Dados</h3>
	{{ debugForm | json }}
</div>

<div>
	<h3>Erros</h3>
	{{ errorsForm | json }}
</div> -->