<div class="container-home">

	<mat-card class="home mat-elevation-z3">
		<mat-card-title class="title">Bem vindo</mat-card-title>
		<mat-card-subtitle class="subtitle">
			Informações Iniciais
		</mat-card-subtitle>		
	</mat-card>
	
</div>

<div fxLayout='column' class="feed-grafico">

 <!-- <div fxLayout='row'    > -->
  <!-- fxFlexAlign='center' -->

     <mat-card class="home mat-elevation-z3" class="container-inforgrafico" fxFlex='50%'  >
       <mat-card-title class="title"></mat-card-title>
       <mat-card-subtitle class="subtitle">
       </mat-card-subtitle>
       <div>
         <chart [type]="type" [data]="data" [options]="options"></chart>
       </div>
     </mat-card>
     

     <mat-card class="home mat-elevation-z3" class="container-inforgrafico" fxFlex='50%' >
       <mat-card-title class="title"></mat-card-title>
       <mat-card-subtitle class="subtitle">
        
       </mat-card-subtitle>
       <div class="infor-bar">
         <chart [type]="type2" [data]="data2" [options]='options2'></chart>
       </div>
     </mat-card>

     
    <!-- </div> -->
    
    <div class="offSet" ></div>




</div>
