
<mat-sidenav-container class="container" >
	<mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64" >
		<mat-nav-list class="nav-list">

			<a mat-list-item routerLink='/' >
				<i class="material-icons">dashboard</i>
				Dashboard
			</a>
			<a mat-list-item routerLink='/kids'>
				<i class="material-icons">face</i>
				Kids
			</a>
			<a mat-list-item routerLink='/paciente'>
				<i class="material-icons">person</i>
				Pacientes
			</a>
			<a mat-list-item routerLink='/profissional'>
				<i class="material-icons">people</i>
				Profissionais
			</a>
			<a mat-list-item routerLink='/agendamento'>
				<i class="material-icons">calendar_today</i>
				Agendamento
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="content">

		<router-outlet></router-outlet>
		
	</mat-sidenav-content>
</mat-sidenav-container>
