<div class="container-read" fxFill>

  <mat-card>
    <mat-card-title>Profissionais</mat-card-title>

    <div class="mat-elevation-z0" >
      <table mat-table [dataSource]="contributors" 
      class="full-width-table" aria-label="Elements">
        <!-- Id Column -->
        <div>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>
        </div>

        <!-- Name Column -->
        <div>
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
          </ng-container>
        </div>

        <!-- Profession Column -->
        <div>
          <ng-container matColumnDef="profissao">
            <th mat-header-cell *matHeaderCellDef>Profissão</th>
            <td mat-cell *matCellDef="let row">{{row.profissao}}</td>
          </ng-container>
        </div>


        <!-- Email Column -->
        <div>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
          </ng-container>
        </div>

        <!-- Contato Column -->
        <div>

          <ng-container matColumnDef="contato">
            <th mat-header-cell *matHeaderCellDef>Contato</th>
            <td mat-cell *matCellDef="let row">{{row.contato}}</td>
          </ng-container>
        </div>

        <!-- Ações Column -->
        <div>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
              <a routerLink="/profissional/atualizar/{{row.id}}">
                <i class="material-icons edit">edit</i>
              </a>
              <a (click)="onDelete(row.id)">
                <i class="material-icons delete">delete</i>
              </a>
            </td>
          </ng-container>
        </div>

        <div>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </div>
      </table>
    </div>

  </mat-card>

</div>
