<div class="container">

 <mat-card >
   <mat-card-title class="title"> Recuperar Senha </mat-card-title>
   <mat-icon class="icon"><i class="material-icons">people</i></mat-icon>
   <mat-card-content class="content">
    <div class="input email">
     <mat-form-field>
      <mat-label>E-mail:</mat-label>
      <input matInput  name='email' placeholder="E-mail" type='email' required [(ngModel)]='email'>
     </mat-form-field>
    </div>

   </mat-card-content>
   <mat-card-actions>
    <button mat-raised-button color='primary' >LOGAR</button>
   </mat-card-actions>
 </mat-card>

</div>