<div class="container-create">

	<mat-card>
		<mat-card-title>
			Novo Profissional
		</mat-card-title>

		<mat-card-content>

			<form [formGroup]="contForm" (ngSubmit)="onSubmit()" class="form-cad">

				<mat-grid-list cols='2' rowHeight='5:1'>

					<mat-grid-tile colspan='2'>
						<h2 class="title-address">Perfil</h2>
						<mat-divider></mat-divider>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Nome *</mat-label>
							<input matInput placeholder="Primeiro Nome" type="text" formControlName="firstName"
								name="nome">
							<mat-error *ngIf="contForm.get('firstName').invalid">
								{{ getErrorMessage('firstName', 'Nome Obrigatório', 'Nome Obrigatório') }} </mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Sobre Nome</mat-label>
							<input matInput placeholder="Restante do Nome" type="text" name="cpf"
								formControlName="lastName">
							<mat-error *ngIf="contForm.get('lastName').invalid">
								{{ getErrorMessage('lastName', 'Sobre Nome') }} </mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>CPF *</mat-label>
							<input matInput placeholder="CPF" name="cpf" type="number" formControlName="cpf">
							<mat-error *ngIf="contForm.get('cpf').invalid">
								{{ getErrorMessage('cpf', 'CPF Oobrigatório', 'Infome apenas números') }} </mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>RG *</mat-label>
							<input matInput placeholder="rg" name="rg" type="number" formControlName="cpf">
							<mat-error *ngIf="contForm.get('rg').invalid">
								{{ getErrorMessage('rg', 'RG Oobrigatório', 'Infome apenas números') }} </mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Data de Nascimento</mat-label>
							<input matInput placeholder="Data de Nascimento" name="birth" type="date"
								formControlName="birth">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Idade</mat-label>
							<input matInput placeholder="Idade" name="age" type="number" formControlName="age">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<!-- <mat-form-field> -->
						<!-- <input matInput placeholder="Gênero" name="gender" formControlName="gender"> -->
						<!-- <label for="gender" class="label-gender">Gênero: </label> -->
						<mat-radio-group name='gender' aria-label="Select an option" aria-labelledby="Gênero"
							formControlName="gender">
							<mat-radio-button class="mat-radio-button" value="M">Masculino</mat-radio-button>
							<mat-radio-button class="mat-radio-button" value="F">Feminino</mat-radio-button>
						</mat-radio-group>
						<!-- </mat-form-field> -->
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>E-mail</mat-label>
							<input matInput placeholder="user@email.com" name="email" type="email"
								formControlName="email">
							<mat-error *ngIf="contForm.get('email').invalid">
								{{ getErrorMessage('email', 'Você deve inserir um Email', 'E-mail Invalido') }}
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Senha *</mat-label>
							<input matInput placeholder="Senha" name="password" [type]="hide ? 'password' : 'text'"
								formControlName="password">
							<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
								[attr.aria-pressed]="hide">
								<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
							</button>
						</mat-form-field>
					</mat-grid-tile>

					<!-- <mat-grid-tile>
						<mat-label>repeti a senha</mat-label>
						<mat-form-field appearance="outline">
							<input matInput placeholder="Confirme a senha" name="repeat-password" type="password">
						</mat-form-field>
					</mat-grid-tile> -->

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Profissão *</mat-label>
							<input matInput placeholder="Profissão" name="profession" type="text"
								formControlName="profession">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Telefone Fixo</mat-label>
							<input matInput placeholder="Contato Fixo" name="contact" type="tel"
								formControlName="contact">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Celular (Whatsapp) *</mat-label>
							<input matInput placeholder="Celular" name="cellPhone" type="text"
								formControlName="cellPhone">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile colspan='2'>
						<h3 class="title-address">Endereço</h3>

						<mat-divider></mat-divider>
					</mat-grid-tile>

					<div formGroupName="address">

						<mat-grid-tile>
							<mat-form-field appearance="outline">
								<mat-label>CEP *</mat-label>
								<input matInput placeholder="CEP" name="cep" type="number" formControlName="zipcode">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field appearance="outline">
								<mat-label>Rua </mat-label>
								<input matInput placeholder="Rua: silveira..." name="rua" type="text"
									formControlName="street">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field appearance="outline">
								<mat-label>N° </mat-label>
								<input matInput placeholder="Numero" name="numberHome" type="number"
									formControlName="numberHome">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field appearance="outline">
								<mat-label>Complemento </mat-label>
								<input matInput placeholder="Numero" name="Complement" type="text"
									formControlName="compement">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field appearance="outline">
								<mat-label>Bairro</mat-label>
								<input matInput placeholder="Bairro" name="logradouro" type="text"
									formControlName="cityBlock">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field appearance="outline">
								<mat-label>Cidade</mat-label>
								<input matInput placeholder="Cidade" name="cidade" formControlName="city">
							</mat-form-field>
						</mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field appearance="outline">
								<mat-label>Estado</mat-label>
								<input matInput placeholder="UF: " name="uf" formControlName="state">
							</mat-form-field>
						</mat-grid-tile>

					</div>

				</mat-grid-list>

				<button mat-raised-button color="primary" type="submit">
					Enviar
				</button>

			</form>

		</mat-card-content>

		<mat-card-actions>



			<button mat-raised-button color="accent" (click)="onCancel()">
				Cancelar
			</button>

			<button mat-raised-button color="primary" (click)="salvedContri()">
				Salvar
			</button>

		</mat-card-actions>

	</mat-card>

</div>

<div>
	<h3>Dados</h3>
	{{ debugForm | json }}
</div>

<div>
	<h3>Erros</h3>
	{{ errorsForm | json }}
</div>